# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/variables/variables.py
/lstm/models/*.h5
/lstm/models/*.keras
/cnn/models/*.h5
/cnn/models/*.keras